@font-face {
    font-family: mainFont;
    src: url(CircularSpotifyText-Medium.otf);
}
:root {
  --background-color: #240008;     
  --text-color: #F5BFCC;            
  --primary-color: #9C344C;         
  --secondary-color: #600B1F;       
  --highlight-color: #D8788F;       
  --border-color: #600B1F;

}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
}

header{
    background-color: var(--secondary-color);
    padding: 1.5%;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    font-family: mainFont;
    color: var(--text-color);
}
header h2{
    margin-top: 2.5vh;
}
header p, a{
    margin-top: 3.7vh;
    text-decoration: none;
    color: var(--text-color);
}
header img{
    margin-left: 3vw;
}
footer{
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-family: mainFont;
    margin-top: 14vh;
    padding: 2%;
    text-align: center;
}

#info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    gap: 5%;
}
.small-info-box{
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 4%;
    text-align: center;
}

#log-in-start button{
    background-color: var(--secondary-color);
    height: 8vh;
    width: 10vw;
    font-family: mainFont;
    border: solid 2px var(--border-color);
    border-radius: 10px;
}
#log-in-start {
    grid-column: 1/-1;
    justify-self: center
}