/*Variables Color*/
:root {
  --background-color: #240008;     
  --text-color: #F5BFCC;            
  --primary-color: #9C344C;         
  --secondary-color: #600B1F;       
  --highlight-color: #D8788F;       
  --border-color: #600B1F;

}

/*===INDEX===*/


/*===LOBBY===*/